@model IEnumerable<Order>
@{
}

<div style="width:100%" class="mt-2">
    <a href="/Identity/Account/Manage" class="btn btn-primary my-2">Back</a>

    <h4>My Orders</h4>
    @if (Model != null && Model.Count() > 0)
    {
        <table class="table table-striped table-bordered">
            @foreach (var order in Model)
            {
                <tr>
                    <th>@order.CreateDate.ToString("dd-MM-yyyy") - @order.OrderStatus.Status</th>
                </tr>
                @if (order.OrderDetail != null && order.OrderDetail.Count > 0)
                {
                    <tr>
                        <td>
                            <table class="table table-striped">

                                <tr>
                                    <th>Item</th>
                                    <th>Price</th>
                                </tr>

                                @foreach (var item in order.OrderDetail)
                                {
                                    <tr>
                                        <td>@item.Item.Name</td>
                                        <td> @((decimal)item.Item.Price * item.Quantity) </td>
                                    </tr>
                                }
                                <tr>
                                    <td>
                                        <b>Total:</b>
                                    </td>
                                    <td>
                                        <b>@((decimal)order.OrderDetail.Select(item => item.Item.Price * item.Quantity).Sum())</b>

                                    </td>

                                </tr>
                            </table>
                        </td>
                    </tr>
                }
            }
        </table>

    }
    else
    {
        <h5>No orders</h5>
    }
</div>



